# Bytecode / build
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.so

# VSCode / IDE
.vscode/
.idea/
*.code-workspace

# Output and test data
outputs*/
results*/
*.png
*.jpg
*.npy
*.csv

# Python environment
.venv/
venv/
env/
*.log

# OS noise
.DS_Store
Thumbs.db
